@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 

body{
    background-color: gainsboro;
}
a{
    text-decoration: none;
    color: slategray;
}
a:hover{
    text-decoration: underline;
}
/* structure */
div.wrap{
    width: 100%;
}
div.head{
    text-align: center;
}
div.content{
    width: 100%;

}
div.ad{}
div.foot{
    margin-top: 15px;
    font-size: 0.2em;
    text-align: center;
}
/* layout */
div.left{
    float: left;
}
div.right{
    float: right;
}
div.clear{
    clear: both;
}
#outer{
    width: 100%;
    text-align: center;
}
#inner{
    display: inline-block;
    text-align: left;
}
/* sub structure */
div.paragraph{
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;    
}
div.menu{
    margin-left: 10px;
    margin-top: 10px;
}
div.main{
    margin: 10px;
}
blockquote{
    color: MediumSlateBlue;
    border-left-style: solid;
    border-color: silver;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

div.title_area{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 120%;
}
div.ymd_area{
    font-size: 0.5em;
    vertical-align: bottom;
    text-align: right;
    margin-right: 20px;
}

div.content_area{
    margin-top: 20px;
    margin-bottom: 20px;
    
    line-height: 2.0em;
    font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum;
    font-size: 0.9em;
    /* border-style: solid; */
}
div.content_area img{
    width: 320px;
}
div.content_area pre{
    line-height: 1.2em;
}